<ng-container *ngIf="board">
    <figure id="diagram-grid-doubled-q">
        <svg id="map" [style.max-width.px]="board.size.x*140"
             [attr.viewBox]="'-100 -106.60254037844388 '+(board.size.x+1.4)*widthOffset+' '+(board.size.y+2.5)/2*heightOffset">
            <g (click)="selectField(field)" [class.marked]="isHighlighted(field)" transform="rotate(0)" fill="white"
               stroke="black" class="grid"
               *ngFor="let field of board.fields"
               [attr.transform]="'translate('+field.x*widthOffset+','+(field.y*heightOffset)/2+')'">
                <defs>
                    <pattern [attr.id]="field.resource.name" patternUnits="userSpaceOnUse"
                             width="100" height="100">
                        <image [attr.href]="field.resource.image"
                               x="0" y="0" width="100" height="100"/>
                    </pattern>
                </defs>
                <polygon [attr.fill]="'url(#'+field.resource.name+')'" [attr.fill]="field.resource.color"
                         points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"></polygon>
                <g *ngIf="field.harbour" [attr.transform]="'rotate('+60 * field.harbour.position+')'">
                    <polygon fill="none"
                             points="-50,-87 50,-87 0,-35"></polygon>
                    <circle *ngIf="field.harbour.resource" cy="-35" r="20"
                            [attr.fill]="field.harbour.resource.color"></circle>
                    <circle *ngIf="!field.harbour.resource" cy="-35" r="20" fill="white"></circle>
                    <text style="font-size: 1.4em" *ngIf="!field.harbour.resource" dy="0.4em"
                          transform="translate(-14,-38)">
                        3:1
                    </text>
                </g>

                <text dy="0.4em" transform="translate(-15,8)">
                    <tspan class="q-coord">{{field.chip}}</tspan>
                </text>
                <g *ngIf="analyseMode" class="city-marker">
                    <circle (click)="highlightedFields = board.getTripleByDirection(field, 1)" cx="100" cy="0"
                            r="10"></circle>
                    <circle (click)="highlightedFields = board.getTripleByDirection(field, 4)" cx="-100" cy="0"
                            r="10"></circle>
                    <circle (click)="highlightedFields = board.getTripleByDirection(field, 5)" cx="-50" cy="-87"
                            r="10"></circle>
                    <circle (click)="highlightedFields = board.getTripleByDirection(field, 2)" cx="50" cy="87"
                            r="10"></circle>
                    <circle (click)="highlightedFields = board.getTripleByDirection(field, 0)" cx="50" cy="-87"
                            r="10"></circle>
                    <circle (click)="highlightedFields = board.getTripleByDirection(field, 3)" cx="-50" cy="87"
                            r="10"></circle>
                </g>
            </g>
        </svg>
    </figure>
</ng-container>
