
#diagram-grid-doubled-q {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.q-coord {
  font-size: 3em;
  font-weight: bold;
}

.marked .q-coord {
  fill: #ec3636;
}

.city-marker {
  cursor: pointer;

  :hover {
    fill: red;
  }
}

.editor {
  .grid {
    cursor: pointer;
  }

  .grid polygon:hover {
    stroke: green;
    stroke-width: 6;;
  }
}
