<ion-header>
    <ion-toolbar>
        <ion-title>FieldEditModal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button (click)="field.resource = resources.forest">
        <ion-icon name="star" slot="start"></ion-icon>
        Forest
    </ion-button>

    <ion-button (click)="field.resource = resources.mountain" color="red">
        <ion-icon name="star" slot="start"></ion-icon>
        Mountain
    </ion-button>

    <ion-button (click)="field.resource = resources.field">
        <ion-icon name="star" slot="start"></ion-icon>
        Field
    </ion-button>

    <ion-button (click)="field.resource = resources.sheep">
        <ion-icon name="star" slot="start"></ion-icon>
        Sheep
    </ion-button>

    <ion-button (click)="field.resource = resources.clay">
        <ion-icon name="star" slot="start"></ion-icon>
        Clay
    </ion-button>

    <ion-button (click)="field.resource = resources.water">
        <ion-icon name="water" slot="start"></ion-icon>
        Water
    </ion-button>

</ion-content>
